*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: #111;
  color: #fff;
  font-size: 1rem;
}

button,
a {
  cursor: pointer;
}
